@font-face {
  font-family: 'Yekan';
  src: url('../public/Yekan.woff' ) format('woff');
}

body {
  direction: rtl;
  margin: 0;
  font-family: "Yekan", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
